<section class="uiza-top-menu-search">
  <div class="header-search">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
                  <span class="input-group-text text-white" id="basic-addon1">
                    <i class="icon icon-search"></i>
                  </span>
          </div>
          <input type="text" class="form-control" placeholder="Search " aria-label="Username" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="col-md-6 text-right">
        <button class="btn quick-start" (click)="navigate('/admin/quickstart')">
          <i class=""></i>
          <span>Quick Start</span>
        </button>
      </div>
    </div>

  </div>
</section>
