<div class="uiza-top-menu-padding"></div>
<header class="uiza-top-menu backgroud-purple-gradient text-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <app-uiza-menu-top-settings></app-uiza-menu-top-settings>
      </div>
      <div class="col-md-4">
        <!-- <app-uiza-menu-top-search></app-uiza-menu-top-search> -->
      </div>
      <div class="col-md-2">
        <app-uiza-menu-top-quick-start></app-uiza-menu-top-quick-start>
      </div>
      <div class="col-md-3">
        <app-uiza-menu-top-profile></app-uiza-menu-top-profile>
      </div>
    </div>
  </div>
</header>
