<ng-template #templateModal>
  <div>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{modalObject.title}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalObject.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body pd-20 text-center">
      <app-uiza-player [options]="playerOptions">
        <!--streamType: 'live',-->
        <!--appId: '4c273af2724f45738693ab682927acb2',-->
        <!--entityId: 'c7e97d37-a99c-4625-bbd7-2f35cf71a9a9',-->
        <!--streamName: 'live-ytb',-->
        <!--region: 'ap-southeast-1'-->
      </app-uiza-player>
      <!--<video id="my_video_1" crossorigin="anonymous" class="video-js vjs-default-skin vjs-big-play-centered vjs-16-9" preload="auto" controls>-->
        <!--<source src="{{playerOptions.url}}" type="application/x-mpegURL">-->
      <!--</video>-->
    </div>
    <div class="modal-footer">
      <div class="text-center w-100">
        <button type="button" class="btn btn-secondary mr-right-20" (click)="modalObject.cancel()"> Cancel </button>
        <button type="button" class="btn btn-primary" (click)="modalObject.confirm()">Save</button>
      </div>
    </div>
  </div>
</ng-template>



<app-uiza-menu-top></app-uiza-menu-top>
<section class="uiza-body">
  <app-uiza-menu-left></app-uiza-menu-left>

  <div class="uiza-body-content">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <!--body-->
        <div class='row'>
          <div class="col-md-12">
            <app-uiza-header-content></app-uiza-header-content>
          </div>

          <div class="col-md-12">
            <app-uiza-card>
              <app-uiza-card-header>
                <div class="row">
                  <div class="col">
                    <h5 class="uiza-card-title">Test transcode</h5>
                    <p class="uiza-card-subtitle">Input authen token & excel file</p>
                  </div>
                </div>
              </app-uiza-card-header>
              <app-uiza-card-content>
                <div class="row">
                  <div class="col-md-12">
                    <form>
                      <div class="form-group row">
                        <label class="col-md-2">ENV:</label>
                        <input type="text" class="form-control col-md-10" placeholder="env" [(ngModel)]="setting.env" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div class="form-group row">
                        <label class="col-md-2">APP_ID:</label>
                        <input type="text" class="form-control col-md-10" placeholder="env" [(ngModel)]="setting.app_id" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div class="form-group row">
                        <label class="col-md-2">Domain API:</label>
                        <input type="text" class="form-control col-md-10" placeholder="domain api" [(ngModel)]="setting.domain" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div class="form-group row">
                        <label class="col-md-2">Authentoken:</label>
                        <input type="text" class="form-control col-md-10" placeholder="authen token" [(ngModel)]="setting.token" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div class="form-group row">
                        <label class="col-md-2">File upload:</label>
                        <input type="file" class="form-control col-md-10" style="display: inline-block;" (change)="onInputFileChange($event)" placeholder="Upload file" accept=".xlsx, .xls, .csv" [ngModelOptions]="{standalone: true}">
                      </div>
                      <button type="button" class="btn btn-primary" (click)="uploadExcelFile()" >Upload</button>
                    </form>

                  </div>
                </div>
              </app-uiza-card-content>
            </app-uiza-card>
          </div>

          <div class="col-md-12">
            <app-uiza-card>
              <app-uiza-card-header>
                <div class="row">
                  <div class="col">
                    <h5 class="uiza-card-title">List entity</h5>
                  </div>
                </div>
              </app-uiza-card-header>
              <app-uiza-card-content>
                <div class="row">
                  <div class="col-md-12">
                    <app-uiza-smart-table
                      [source]='source'
                      [settings]='settings'
                      (searchChange)='null'
                      (deleteItem)='onDeleteItem($event)'>
                    </app-uiza-smart-table>
                  </div>
                </div>
              </app-uiza-card-content>
            </app-uiza-card>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>
