<app-uiza-menu-top></app-uiza-menu-top>
<section class="uiza-body">
  <app-uiza-menu-left></app-uiza-menu-left>

  <div class="uiza-body-content">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <!--body-->
        <div class='row'>
          <div class="col-md-12">
            <app-uiza-header-content></app-uiza-header-content>
          </div>

          <div class="col-md-12">
            <app-uiza-card>
              <app-uiza-card-header>
                <div class="row">
                  <div class="col">
                    <h5 class="uiza-card-title">Test transcode</h5>
                    <p class="uiza-card-subtitle">Input authen token & excel file</p>
                  </div>
                </div>
              </app-uiza-card-header>
              <app-uiza-card-content>
                <div class="row">
                  <div class="col-md-12">
                    <form>
                      <div class="form-group row">
                        <label class="col-md-2">ENV:</label>
                        <input type="text" class="form-control col-md-10" placeholder="env" [(ngModel)]="setting.env" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div class="form-group row">
                        <label class="col-md-2">APP_ID:</label>
                        <input type="text" class="form-control col-md-10" placeholder="env" [(ngModel)]="setting.app_id" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div class="form-group row">
                        <label class="col-md-2">Domain API:</label>
                        <input type="text" class="form-control col-md-10" placeholder="domain api" [(ngModel)]="setting.domain" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div class="form-group row">
                        <label class="col-md-2">Authentoken:</label>
                        <input type="text" class="form-control col-md-10" placeholder="authen token" [(ngModel)]="setting.token" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div class="form-group row">
                        <label class="col-md-2">File upload:</label>
                        <input type="file" class="form-control col-md-10" style="display: inline-block;" (change)="onInputFileChange($event)" placeholder="Upload file" accept=".xlsx, .xls, .csv" [ngModelOptions]="{standalone: true}">
                      </div>
                      <button type="button" class="btn btn-primary" (click)="uploadExcelFile()" >Upload</button>
                    </form>

                  </div>
                </div>
              </app-uiza-card-content>
            </app-uiza-card>
          </div>

          <div class="col-md-12">
            <app-uiza-card>
              <app-uiza-card-header>
                <div class="row">
                  <div class="col">
                    <h5 class="uiza-card-title">List entity</h5>
                  </div>
                </div>
              </app-uiza-card-header>
              <app-uiza-card-content>
                <div class="row">
                  <div class="col-md-12">
                    list entity
                  </div>
                </div>
              </app-uiza-card-content>
            </app-uiza-card>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>
