<section class="uiza-top-menu-setting">
  <div class="row">
    <div class="col-md-9">
      <div class="row uiza-customer">
        <div class="col-md-3">
          <div class="uiza-customer-logo text-center">
            <img src="./assets/img/workspace.png"/>
          </div>
        </div>
        <div class="col-md-9">
          <div class="uiza-customer-info">
            <h5 class="uiza-customer-info-name">{{displayDomain || "No domain"}}</h5>
            <!-- <p class="uiza-customer-info-setting">Setting</p> -->
          </div>
        </div>
        <div class="col-md-0">
          <div class="uiza-customer-dropdown">
            <i class="icon icon-arrow-down-cycle"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
