//@import "~@ng-select/ng-select/themes/default.theme.css";
.col-custom-3{
  //flex:0 0 30%;
  //max-width:30%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-custom-1{
  //flex:0 0 10%;
  //max-width:10%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0;
  //padding-right: 15px;
  //padding-left: 15px;
}
